{
  "openapi": "3.0.3",
  "info": {
    "title": "gagnechris API",
    "version": "0.2.0",
    "description": "HTTP API for Blog CMS and Notebook admin. Same-origin via CloudFront /api/*. Shared DynamoDB single-table (docs/data-model.md)."
  },
  "servers": [
    {
      "url": "https://gagnechris.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local API (optional)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Cognito ID token (Authorization: Bearer <token>)"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "service": {
            "type": "string",
            "enum": [
              "gagnechris-api"
            ]
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "AdminMeResponse": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string",
            "minLength": 1,
            "description": "Cognito user sub"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Verified email when present"
          },
          "username": {
            "type": "string",
            "description": "Cognito username claim"
          }
        },
        "required": [
          "sub"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "Immutable post id (ULID)"
          },
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "$ref": "#/components/schemas/PostStatus"
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "seo": {
            "$ref": "#/components/schemas/PostSeo"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "excerpt",
          "bodyMarkdown",
          "tags",
          "status",
          "publishedAt",
          "updatedAt",
          "coverImage",
          "seo",
          "version"
        ]
      },
      "PostStatus": {
        "type": "string",
        "enum": [
          "draft",
          "published",
          "deleted"
        ]
      },
      "PostSeo": {
        "type": "object",
        "nullable": true,
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "ogImage": {
            "type": "string"
          }
        }
      },
      "PostListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Post"
            }
          }
        },
        "required": [
          "items"
        ]
      },
      "CreatePostRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "default": "Untitled"
          },
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "excerpt": {
            "type": "string",
            "default": ""
          },
          "bodyMarkdown": {
            "type": "string",
            "default": ""
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "seo": {
            "$ref": "#/components/schemas/PostSeo"
          }
        }
      },
      "UpdatePostRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0,
            "description": "Expected version for optimistic concurrency"
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "excerpt": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "seo": {
            "$ref": "#/components/schemas/PostSeo"
          }
        },
        "required": [
          "version"
        ]
      },
      "MediaUploadUrlRequest": {
        "type": "object",
        "properties": {
          "contentType": {
            "$ref": "#/components/schemas/MediaContentType"
          },
          "contentLength": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 10485760,
            "description": "Exact byte length of the PUT body (max 10 MiB)"
          },
          "filename": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "Original filename (extension used when present)"
          }
        },
        "required": [
          "contentType",
          "contentLength"
        ]
      },
      "MediaContentType": {
        "type": "string",
        "enum": [
          "image/jpeg",
          "image/png",
          "image/webp",
          "image/gif"
        ]
      },
      "MediaUploadUrlResponse": {
        "type": "object",
        "properties": {
          "uploadUrl": {
            "type": "string",
            "format": "uri",
            "description": "Presigned PUT URL (or local API PUT URL in filesystem mode)"
          },
          "publicPath": {
            "type": "string",
            "pattern": "^\\/media\\/",
            "description": "Same-origin path to insert in markdown"
          },
          "headers": {
            "type": "object",
            "properties": {
              "Content-Type": {
                "type": "string"
              }
            },
            "required": [
              "Content-Type"
            ],
            "description": "Headers the client must send on the PUT (Content-Length is set by the browser to match contentLength)"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "uploadUrl",
          "publicPath",
          "headers",
          "expiresAt"
        ]
      },
      "ContactRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "email": {
            "type": "string",
            "maxLength": 320,
            "format": "email"
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000
          },
          "website": {
            "type": "string",
            "maxLength": 200,
            "default": ""
          }
        },
        "required": [
          "name",
          "email",
          "message"
        ]
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok"
        ]
      },
      "Resume": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "pdfPath": {
            "type": "string",
            "minLength": 1,
            "description": "Site-relative path to the downloadable PDF"
          },
          "content": {
            "$ref": "#/components/schemas/ResumeContent"
          },
          "status": {
            "$ref": "#/components/schemas/PostStatus"
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "seo": {
            "$ref": "#/components/schemas/PostSeo"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "name",
          "pdfPath",
          "content",
          "status",
          "publishedAt",
          "updatedAt",
          "seo",
          "version"
        ]
      },
      "ResumeContent": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string"
          },
          "competencies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Flat list; the renderer splits it into two columns"
          },
          "experience": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResumeExperience"
            }
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "education": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResumeEducation"
            }
          }
        },
        "required": [
          "summary",
          "competencies",
          "experience",
          "skills",
          "education"
        ]
      },
      "ResumeExperience": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "bullets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "title",
          "company",
          "bullets"
        ]
      },
      "ResumeEducation": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "institution": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "year": {
            "type": "string"
          },
          "degreeDetail": {
            "type": "string"
          }
        },
        "required": [
          "title",
          "institution",
          "location",
          "year"
        ]
      },
      "UpdateResumeRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0,
            "description": "Expected version for optimistic concurrency"
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "pdfPath": {
            "type": "string",
            "minLength": 1
          },
          "content": {
            "$ref": "#/components/schemas/ResumeContent"
          },
          "seo": {
            "$ref": "#/components/schemas/PostSeo"
          }
        },
        "required": [
          "version"
        ]
      },
      "ResumeDownloadNotifyRequest": {
        "type": "object",
        "properties": {
          "referrer": {
            "type": "string",
            "maxLength": 500
          }
        }
      },
      "ResumeDownloadNotifyResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health check",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/me": {
      "get": {
        "summary": "Current authenticated admin user",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated user claims",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/posts": {
      "get": {
        "summary": "List posts (Blog CMS)",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PostStatus"
                },
                {
                  "description": "Filter by status (omit to list draft + published)"
                }
              ]
            },
            "required": false,
            "description": "Filter by status (omit to list draft + published)",
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Post list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create draft post",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "409": {
            "description": "Slug conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/posts/{id}": {
      "get": {
        "summary": "Get post by id",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Post id (ULID)"
            },
            "required": true,
            "description": "Post id (ULID)",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Post",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update post (optimistic concurrency via version)",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Post id (ULID)"
            },
            "required": true,
            "description": "Post id (ULID)",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Version conflict or slug taken",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Soft-delete post",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Post id (ULID)"
            },
            "required": true,
            "description": "Post id (ULID)",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Soft-deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/posts/{id}/publish": {
      "post": {
        "summary": "Publish post (stream event for publisher)",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Post id (ULID)"
            },
            "required": true,
            "description": "Post id (ULID)",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Published",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/posts/{id}/unpublish": {
      "post": {
        "summary": "Unpublish post",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Post id (ULID)"
            },
            "required": true,
            "description": "Post id (ULID)",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Unpublished (draft)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Post"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/resume": {
      "get": {
        "summary": "Get the singleton resume (seeded on first read)",
        "tags": [
          "Resume"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Resume",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resume"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update resume (optimistic concurrency via version)",
        "tags": [
          "Resume"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateResumeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resume"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Version conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/resume/publish": {
      "post": {
        "summary": "Publish resume (stream event for publisher)",
        "tags": [
          "Resume"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Published",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resume"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/resume/unpublish": {
      "post": {
        "summary": "Unpublish resume (live HTML is left in place)",
        "tags": [
          "Resume"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Unpublished (draft)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resume"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/media/upload-url": {
      "post": {
        "summary": "Presigned PUT URL for an image under /media",
        "tags": [
          "Media"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaUploadUrlRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upload URL and public path",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaUploadUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid content type, size, or body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/contact": {
      "post": {
        "summary": "Public contact form (SES email to site owner)",
        "tags": [
          "Public"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/resume/download": {
      "post": {
        "summary": "Anonymous resume-download notify (no PII)",
        "tags": [
          "Public"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResumeDownloadNotifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResumeDownloadNotifyResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
