{
  "openapi": "3.0.3",
  "info": {
    "title": "gagnechris API",
    "version": "0.1.0",
    "description": "HTTP API for the Blog CMS admin and notebook. Same-origin via CloudFront /api/*."
  },
  "servers": [
    {
      "url": "https://gagnechris.com",
      "description": "Production"
    },
    {
      "url": "https://staging.gagnechris.com",
      "description": "Staging preview"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local API (optional)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Cognito ID token (Authorization: Bearer <token>)"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "service": {
            "type": "string",
            "enum": [
              "gagnechris-api"
            ]
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "AdminMeResponse": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string",
            "minLength": 1,
            "description": "Cognito user sub"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Verified email when present"
          },
          "username": {
            "type": "string",
            "description": "Cognito username claim"
          }
        },
        "required": [
          "sub"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health check",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/me": {
      "get": {
        "summary": "Current authenticated admin user",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated user claims",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminMeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
