{
  "openapi": "3.0.3",
  "info": {
    "title": "gagnechris API",
    "version": "0.3.0",
    "description": "HTTP API for Blog CMS and Notebook admin. Same-origin via CloudFront /api/*. Shared DynamoDB single-table (docs/data-model.md)."
  },
  "servers": [
    {
      "url": "https://gagnechris.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local API (services/api/local/server.ts)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Cognito ID token (Authorization: Bearer <token>)"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "service": {
            "type": "string",
            "enum": [
              "gagnechris-api"
            ]
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "AdminMeResponse": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "username": {
            "type": "string"
          }
        },
        "required": [
          "sub"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "error"
        ]
      },
      "ConflictErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "currentVersion": {
            "type": "integer"
          },
          "current": {
            "nullable": true
          }
        },
        "required": [
          "error"
        ]
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "deleted"
            ]
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "hasUnpublishedChanges": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "excerpt",
          "bodyMarkdown",
          "tags",
          "coverImage",
          "seo",
          "status",
          "publishedAt",
          "updatedAt",
          "version",
          "hasUnpublishedChanges"
        ]
      },
      "PostListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "slug": {
                  "type": "string",
                  "minLength": 1
                },
                "title": {
                  "type": "string"
                },
                "excerpt": {
                  "type": "string"
                },
                "bodyMarkdown": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "coverImage": {
                  "type": "string",
                  "nullable": true
                },
                "seo": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "ogImage": {
                      "type": "string"
                    }
                  }
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "draft",
                    "published",
                    "deleted"
                  ]
                },
                "publishedAt": {
                  "type": "string",
                  "nullable": true,
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "version": {
                  "type": "integer",
                  "minimum": 0
                },
                "hasUnpublishedChanges": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "slug",
                "title",
                "excerpt",
                "bodyMarkdown",
                "tags",
                "coverImage",
                "seo",
                "status",
                "publishedAt",
                "updatedAt",
                "version",
                "hasUnpublishedChanges"
              ]
            }
          },
          "nextCursor": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "items"
        ]
      },
      "CreatePostRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "default": "Untitled"
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "excerpt": {
            "type": "string",
            "default": ""
          },
          "bodyMarkdown": {
            "type": "string",
            "default": ""
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          }
        }
      },
      "UpdatePostRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "excerpt": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "version"
        ]
      },
      "ExpectedVersionRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "version"
        ]
      },
      "MediaUploadUrlRequest": {
        "type": "object",
        "properties": {
          "contentType": {
            "type": "string",
            "enum": [
              "image/jpeg",
              "image/png",
              "image/webp",
              "image/gif"
            ]
          },
          "contentLength": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 10485760
          },
          "filename": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          }
        },
        "required": [
          "contentType",
          "contentLength"
        ]
      },
      "MediaUploadUrlResponse": {
        "type": "object",
        "properties": {
          "uploadUrl": {
            "type": "string",
            "format": "uri"
          },
          "publicPath": {
            "type": "string",
            "pattern": "^\\/media\\/"
          },
          "headers": {
            "type": "object",
            "properties": {
              "Content-Type": {
                "type": "string"
              }
            },
            "required": [
              "Content-Type"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "uploadUrl",
          "publicPath",
          "headers",
          "expiresAt"
        ]
      },
      "ContactRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "email": {
            "type": "string",
            "maxLength": 320,
            "format": "email"
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000
          },
          "hp_field": {
            "type": "string",
            "maxLength": 200,
            "default": ""
          },
          "website": {
            "type": "string",
            "maxLength": 200,
            "default": ""
          },
          "elapsedMs": {
            "type": "integer",
            "minimum": 0
          },
          "formStartedAt": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "name",
          "email",
          "message"
        ]
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok"
        ]
      },
      "Home": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string"
          },
          "about": {
            "type": "string"
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "deleted"
            ]
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "hasUnpublishedChanges": {
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "title",
          "about",
          "seo",
          "status",
          "publishedAt",
          "updatedAt",
          "version",
          "hasUnpublishedChanges"
        ]
      },
      "UpdateHomeRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string"
          },
          "about": {
            "type": "string"
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "version"
        ]
      },
      "Resume": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "pdfPath": {
            "type": "string",
            "minLength": 1
          },
          "content": {
            "type": "object",
            "properties": {
              "summary": {
                "type": "string"
              },
              "competencies": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "experience": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "company": {
                      "type": "string"
                    },
                    "bullets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "title",
                    "company",
                    "bullets"
                  ]
                }
              },
              "skills": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "education": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "institution": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "year": {
                      "type": "string"
                    },
                    "degreeDetail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "title",
                    "institution",
                    "location",
                    "year"
                  ]
                }
              }
            },
            "required": [
              "summary",
              "competencies",
              "experience",
              "skills",
              "education"
            ]
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "deleted"
            ]
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "hasUnpublishedChanges": {
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "pdfPath",
          "content",
          "seo",
          "status",
          "publishedAt",
          "updatedAt",
          "version",
          "hasUnpublishedChanges"
        ]
      },
      "UpdateResumeRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "pdfPath": {
            "type": "string",
            "minLength": 1
          },
          "content": {
            "type": "object",
            "properties": {
              "summary": {
                "type": "string"
              },
              "competencies": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "experience": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "company": {
                      "type": "string"
                    },
                    "bullets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "title",
                    "company",
                    "bullets"
                  ]
                }
              },
              "skills": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "education": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "institution": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "year": {
                      "type": "string"
                    },
                    "degreeDetail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "title",
                    "institution",
                    "location",
                    "year"
                  ]
                }
              }
            },
            "required": [
              "summary",
              "competencies",
              "experience",
              "skills",
              "education"
            ]
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "version"
        ]
      },
      "ResumeDownloadNotifyRequest": {
        "type": "object",
        "properties": {
          "referrer": {
            "type": "string",
            "maxLength": 500
          }
        }
      },
      "ResumeDownloadNotifyResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok"
        ]
      },
      "ResumeContent": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string"
          },
          "competencies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "experience": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "company": {
                  "type": "string"
                },
                "bullets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "company",
                "bullets"
              ]
            }
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "education": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "institution": {
                  "type": "string"
                },
                "location": {
                  "type": "string"
                },
                "year": {
                  "type": "string"
                },
                "degreeDetail": {
                  "type": "string"
                }
              },
              "required": [
                "title",
                "institution",
                "location",
                "year"
              ]
            }
          }
        },
        "required": [
          "summary",
          "competencies",
          "experience",
          "skills",
          "education"
        ]
      },
      "ResumeEducation": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "institution": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "year": {
            "type": "string"
          },
          "degreeDetail": {
            "type": "string"
          }
        },
        "required": [
          "title",
          "institution",
          "location",
          "year"
        ]
      },
      "ResumeExperience": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "bullets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "title",
          "company",
          "bullets"
        ]
      },
      "PostSeo": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "ogImage": {
            "type": "string"
          }
        }
      },
      "FixtureNote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$/i"
          },
          "userId": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deleted": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "userId",
          "title",
          "body",
          "version",
          "createdAt",
          "updatedAt",
          "deleted"
        ]
      },
      "CreateFixtureNoteRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$/i"
          },
          "title": {
            "type": "string",
            "default": ""
          },
          "body": {
            "type": "string",
            "default": ""
          }
        },
        "required": [
          "id"
        ]
      },
      "UpdateFixtureNoteRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          }
        }
      },
      "SyncChange": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "fixtureNote"
            ]
          },
          "id": {
            "type": "string",
            "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$/i"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "deleted": {
            "type": "boolean"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "entity": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$/i"
              },
              "userId": {
                "type": "string",
                "minLength": 1
              },
              "title": {
                "type": "string"
              },
              "body": {
                "type": "string"
              },
              "version": {
                "type": "integer",
                "minimum": 0
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "deleted": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "userId",
              "title",
              "body",
              "version",
              "createdAt",
              "updatedAt",
              "deleted"
            ]
          }
        },
        "required": [
          "type",
          "id",
          "version",
          "deleted",
          "updatedAt"
        ]
      },
      "SyncChangesResponse": {
        "type": "object",
        "properties": {
          "changes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "fixtureNote"
                  ]
                },
                "id": {
                  "type": "string",
                  "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$/i"
                },
                "version": {
                  "type": "integer",
                  "minimum": 0
                },
                "deleted": {
                  "type": "boolean"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "entity": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$/i"
                    },
                    "userId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string"
                    },
                    "body": {
                      "type": "string"
                    },
                    "version": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "deleted": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "userId",
                    "title",
                    "body",
                    "version",
                    "createdAt",
                    "updatedAt",
                    "deleted"
                  ]
                }
              },
              "required": [
                "type",
                "id",
                "version",
                "deleted",
                "updatedAt"
              ]
            }
          },
          "nextCursor": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "changes"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health check",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "service": {
                      "type": "string",
                      "enum": [
                        "gagnechris-api"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "service"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable (throttling)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/me": {
      "get": {
        "summary": "Current authenticated admin user",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated user claims",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sub": {
                      "type": "string",
                      "minLength": 1
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "username": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "sub"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable (throttling)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/posts": {
      "get": {
        "summary": "List posts (Blog CMS)",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "published",
                "deleted"
              ]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "maximum": 100
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Post list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "slug": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string"
                          },
                          "excerpt": {
                            "type": "string"
                          },
                          "bodyMarkdown": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "coverImage": {
                            "type": "string",
                            "nullable": true
                          },
                          "seo": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "ogImage": {
                                "type": "string"
                              }
                            }
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "draft",
                              "published",
                              "deleted"
                            ]
                          },
                          "publishedAt": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "version": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "hasUnpublishedChanges": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "slug",
                          "title",
                          "excerpt",
                          "bodyMarkdown",
                          "tags",
                          "coverImage",
                          "seo",
                          "status",
                          "publishedAt",
                          "updatedAt",
                          "version",
                          "hasUnpublishedChanges"
                        ]
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error (may include `fields`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable (throttling)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create draft post",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "default": "Untitled"
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "excerpt": {
                    "type": "string",
                    "default": ""
                  },
                  "bodyMarkdown": {
                    "type": "string",
                    "default": ""
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": []
                  },
                  "coverImage": {
                    "type": "string",
                    "nullable": true
                  },
                  "seo": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ogImage": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "bodyMarkdown": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "coverImage": {
                      "type": "string",
                      "nullable": true
                    },
                    "seo": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "ogImage": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "draft",
                        "published",
                        "deleted"
                      ]
                    },
                    "publishedAt": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "version": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hasUnpublishedChanges": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "slug",
                    "title",
                    "excerpt",
                    "bodyMarkdown",
                    "tags",
                    "coverImage",
                    "seo",
                    "status",
                    "publishedAt",
                    "updatedAt",
                    "version",
                    "hasUnpublishedChanges"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error (may include `fields`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict (may include `currentVersion` / `current`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "currentVersion": {
                      "type": "integer"
                    },
                    "current": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable (throttling)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/posts/{id}": {
      "get": {
        "summary": "Get post by id",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Post id (ULID)"
            },
            "required": true,
            "description": "Post id (ULID)",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Post",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "bodyMarkdown": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "coverImage": {
                      "type": "string",
                      "nullable": true
                    },
                    "seo": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "ogImage": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "draft",
                        "published",
                        "deleted"
                      ]
                    },
                    "publishedAt": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "version": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hasUnpublishedChanges": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "slug",
                    "title",
                    "excerpt",
                    "bodyMarkdown",
                    "tags",
                    "coverImage",
                    "seo",
                    "status",
                    "publishedAt",
                    "updatedAt",
                    "version",
                    "hasUnpublishedChanges"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable (throttling)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update post (optimistic concurrency via version)",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Post id (ULID)"
            },
            "required": true,
            "description": "Post id (ULID)",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "excerpt": {
                    "type": "string"
                  },
                  "bodyMarkdown": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "coverImage": {
                    "type": "string",
                    "nullable": true
                  },
                  "seo": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ogImage": {
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "version"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "bodyMarkdown": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "coverImage": {
                      "type": "string",
                      "nullable": true
                    },
                    "seo": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "ogImage": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "draft",
                        "published",
                        "deleted"
                      ]
                    },
                    "publishedAt": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "version": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hasUnpublishedChanges": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "slug",
                    "title",
                    "excerpt",
                    "bodyMarkdown",
                    "tags",
                    "coverImage",
                    "seo",
                    "status",
                    "publishedAt",
                    "updatedAt",
                    "version",
                    "hasUnpublishedChanges"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error (may include `fields`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict (may include `currentVersion` / `current`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "currentVersion": {
                      "type": "integer"
                    },
                    "current": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable (throttling)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Soft-delete post",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Post id (ULID)"
            },
            "required": true,
            "description": "Post id (ULID)",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "version"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Soft-deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "bodyMarkdown": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "coverImage": {
                      "type": "string",
                      "nullable": true
                    },
                    "seo": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "ogImage": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "draft",
                        "published",
                        "deleted"
                      ]
                    },
                    "publishedAt": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "version": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hasUnpublishedChanges": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "slug",
                    "title",
                    "excerpt",
                    "bodyMarkdown",
                    "tags",
                    "coverImage",
                    "seo",
                    "status",
                    "publishedAt",
                    "updatedAt",
                    "version",
                    "hasUnpublishedChanges"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error (may include `fields`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict (may include `currentVersion` / `current`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "currentVersion": {
                      "type": "integer"
                    },
                    "current": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable (throttling)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/posts/{id}/publish": {
      "post": {
        "summary": "Publish post (copies draft to PUBLISHED snapshot; stream rebuild)",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Post id (ULID)"
            },
            "required": true,
            "description": "Post id (ULID)",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "version"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Published",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "bodyMarkdown": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "coverImage": {
                      "type": "string",
                      "nullable": true
                    },
                    "seo": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "ogImage": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "draft",
                        "published",
                        "deleted"
                      ]
                    },
                    "publishedAt": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "version": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hasUnpublishedChanges": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "slug",
                    "title",
                    "excerpt",
                    "bodyMarkdown",
                    "tags",
                    "coverImage",
                    "seo",
                    "status",
                    "publishedAt",
                    "updatedAt",
                    "version",
                    "hasUnpublishedChanges"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error (may include `fields`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict (may include `currentVersion` / `current`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "currentVersion": {
                      "type": "integer"
                    },
                    "current": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable (throttling)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/posts/{id}/unpublish": {
      "post": {
        "summary": "Unpublish post",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Post id (ULID)"
            },
            "required": true,
            "description": "Post id (ULID)",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "version"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unpublished (draft)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "bodyMarkdown": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "coverImage": {
                      "type": "string",
                      "nullable": true
                    },
                    "seo": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "ogImage": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "draft",
                        "published",
                        "deleted"
                      ]
                    },
                    "publishedAt": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "version": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hasUnpublishedChanges": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "slug",
                    "title",
                    "excerpt",
                    "bodyMarkdown",
                    "tags",
                    "coverImage",
                    "seo",
                    "status",
                    "publishedAt",
                    "updatedAt",
                    "version",
                    "hasUnpublishedChanges"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error (may include `fields`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict (may include `currentVersion` / `current`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "currentVersion": {
                      "type": "integer"
                    },
                    "current": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable (throttling)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/posts/{id}/discard": {
      "post": {
        "summary": "Discard draft edits and restore from the published snapshot",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Post id (ULID)"
            },
            "required": true,
            "description": "Post id (ULID)",
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "version"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Draft restored from published snapshot",
            "content": {
              "application/json": {
                "schema": {
[...]
