{
  "openapi": "3.0.3",
  "info": {
    "title": "gagnechris API",
    "version": "0.3.0",
    "description": "HTTP API for Blog CMS and Notebook admin. Same-origin via CloudFront /api/*. Shared DynamoDB single-table (docs/data-model.md)."
  },
  "servers": [
    {
      "url": "https://gagnechris.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local API (services/api/local/server.ts)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Cognito ID token (Authorization: Bearer <token>)"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "service": {
            "type": "string",
            "enum": [
              "gagnechris-api"
            ]
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "AdminMeResponse": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "username": {
            "type": "string"
          }
        },
        "required": [
          "sub"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "error"
        ]
      },
      "ConflictErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "conflict",
              "version_conflict",
              "deleted",
              "payload_mismatch",
              "slug_taken",
              "daily_taken"
            ]
          },
          "message": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "currentVersion": {
            "type": "integer"
          },
          "current": {
            "nullable": true
          }
        },
        "required": [
          "error"
        ]
      },
      "PreconditionFailedErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "precondition_failed"
            ]
          },
          "message": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "currentVersion": {
            "type": "integer"
          },
          "current": {
            "nullable": true
          }
        },
        "required": [
          "error"
        ]
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "deleted"
            ]
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "hasUnpublishedChanges": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "excerpt",
          "bodyMarkdown",
          "tags",
          "coverImage",
          "seo",
          "status",
          "publishedAt",
          "updatedAt",
          "version",
          "hasUnpublishedChanges"
        ]
      },
      "PostListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "slug": {
                  "type": "string",
                  "minLength": 1
                },
                "title": {
                  "type": "string"
                },
                "excerpt": {
                  "type": "string"
                },
                "bodyMarkdown": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "coverImage": {
                  "type": "string",
                  "nullable": true
                },
                "seo": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "ogImage": {
                      "type": "string"
                    }
                  }
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "draft",
                    "published",
                    "deleted"
                  ]
                },
                "publishedAt": {
                  "type": "string",
                  "nullable": true,
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "version": {
                  "type": "integer",
                  "minimum": 0
                },
                "hasUnpublishedChanges": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "slug",
                "title",
                "excerpt",
                "bodyMarkdown",
                "tags",
                "coverImage",
                "seo",
                "status",
                "publishedAt",
                "updatedAt",
                "version",
                "hasUnpublishedChanges"
              ]
            }
          },
          "nextCursor": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "items"
        ]
      },
      "CreatePostRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "default": "Untitled"
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "excerpt": {
            "type": "string",
            "default": ""
          },
          "bodyMarkdown": {
            "type": "string",
            "default": ""
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          }
        }
      },
      "UpdatePostRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "excerpt": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "version"
        ]
      },
      "ExpectedVersionRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "version"
        ]
      },
      "MediaUploadUrlRequest": {
        "type": "object",
        "properties": {
          "contentType": {
            "type": "string",
            "enum": [
              "image/jpeg",
              "image/png",
              "image/webp",
              "image/gif"
            ]
          },
          "contentLength": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 10485760
          },
          "filename": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          }
        },
        "required": [
          "contentType",
          "contentLength"
        ]
      },
      "MediaUploadUrlResponse": {
        "type": "object",
        "properties": {
          "uploadUrl": {
            "type": "string",
            "format": "uri"
          },
          "publicPath": {
            "type": "string",
            "pattern": "^\\/media\\/"
          },
          "headers": {
            "type": "object",
            "properties": {
              "Content-Type": {
                "type": "string"
              }
            },
            "required": [
              "Content-Type"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "uploadUrl",
          "publicPath",
          "headers",
          "expiresAt"
        ]
      },
      "ContactRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "email": {
            "type": "string",
            "maxLength": 320,
            "format": "email"
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000
          },
          "hp_field": {
            "type": "string",
            "maxLength": 200,
            "default": ""
          },
          "website": {
            "type": "string",
            "maxLength": 200,
            "default": ""
          },
          "elapsedMs": {
            "type": "integer",
            "minimum": 0
          },
          "formStartedAt": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "name",
          "email",
          "message"
        ]
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok"
        ]
      },
      "Home": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string"
          },
          "about": {
            "type": "string"
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "deleted"
            ]
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "hasUnpublishedChanges": {
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "title",
          "about",
          "seo",
          "status",
          "publishedAt",
          "updatedAt",
          "version",
          "hasUnpublishedChanges"
        ]
      },
      "UpdateHomeRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string"
          },
          "about": {
            "type": "string"
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "version"
        ]
      },
      "Resume": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "pdfPath": {
            "type": "string",
            "minLength": 1
          },
          "content": {
            "type": "object",
            "properties": {
              "summary": {
                "type": "string"
              },
              "competencies": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "experience": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "company": {
                      "type": "string"
                    },
                    "bullets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "title",
                    "company",
                    "bullets"
                  ]
                }
              },
              "skills": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "education": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "institution": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "year": {
                      "type": "string"
                    },
                    "degreeDetail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "title",
                    "institution",
                    "location",
                    "year"
                  ]
                }
              }
            },
            "required": [
              "summary",
              "competencies",
              "experience",
              "skills",
              "education"
            ]
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "deleted"
            ]
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "hasUnpublishedChanges": {
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "pdfPath",
          "content",
          "seo",
          "status",
          "publishedAt",
          "updatedAt",
          "version",
          "hasUnpublishedChanges"
        ]
      },
      "UpdateResumeRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "pdfPath": {
            "type": "string",
            "minLength": 1
          },
          "content": {
            "type": "object",
            "properties": {
              "summary": {
                "type": "string"
              },
              "competencies": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "experience": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "company": {
                      "type": "string"
                    },
                    "bullets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "title",
                    "company",
                    "bullets"
                  ]
                }
              },
              "skills": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "education": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "institution": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "year": {
                      "type": "string"
                    },
                    "degreeDetail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "title",
                    "institution",
                    "location",
                    "year"
                  ]
                }
              }
            },
            "required": [
              "summary",
              "competencies",
              "experience",
              "skills",
              "education"
            ]
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "version"
        ]
      },
      "ResumeDownloadNotifyRequest": {
        "type": "object",
        "properties": {
          "referrer": {
            "type": "string",
            "maxLength": 500
          }
        }
      },
      "ResumeDownloadNotifyResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok"
        ]
      },
      "ResumeContent": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "string"
          },
          "competencies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "experience": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "company": {
                  "type": "string"
                },
                "bullets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "company",
                "bullets"
              ]
            }
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "education": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "institution": {
                  "type": "string"
                },
                "location": {
                  "type": "string"
                },
                "year": {
                  "type": "string"
                },
                "degreeDetail": {
                  "type": "string"
                }
              },
              "required": [
                "title",
                "institution",
                "location",
                "year"
              ]
            }
          }
        },
        "required": [
          "summary",
          "competencies",
          "experience",
          "skills",
          "education"
        ]
      },
      "ResumeEducation": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "institution": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "year": {
            "type": "string"
          },
          "degreeDetail": {
            "type": "string"
          }
        },
        "required": [
          "title",
          "institution",
          "location",
          "year"
        ]
      },
      "ResumeExperience": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "bullets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "title",
          "company",
          "bullets"
        ]
      },
      "PostSeo": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "ogImage": {
            "type": "string"
          }
        }
      },
      "Note": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "userId": {
            "type": "string",
            "minLength": 1
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "daily",
              "page"
            ]
          },
          "date": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "title": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pinned": {
            "type": "boolean"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deleted": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "userId",
          "area",
          "type",
          "date",
          "title",
          "bodyMarkdown",
          "tags",
          "pinned",
          "version",
          "createdAt",
          "updatedAt",
          "deleted"
        ]
      },
      "NoteListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "userId": {
                  "type": "string",
                  "minLength": 1
                },
                "area": {
                  "type": "string",
                  "enum": [
                    "work",
                    "personal"
                  ]
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "daily",
                    "page"
                  ]
                },
                "date": {
                  "type": "string",
                  "nullable": true,
                  "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                },
                "title": {
                  "type": "string"
                },
                "bodyMarkdown": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "pinned": {
                  "type": "boolean"
                },
                "version": {
                  "type": "integer",
                  "minimum": 0
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "deleted": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "userId",
                "area",
                "type",
                "date",
                "title",
                "bodyMarkdown",
                "tags",
                "pinned",
                "version",
                "createdAt",
                "updatedAt",
                "deleted"
              ]
            }
          },
          "nextCursor": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "items"
        ]
      },
      "CreateNoteRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "daily",
              "page"
            ]
          },
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "title": {
            "type": "string",
            "default": ""
          },
          "bodyMarkdown": {
            "type": "string",
            "default": ""
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "pinned": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "id",
          "area",
          "type"
        ]
      },
      "UpdateNoteRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "title": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pinned": {
            "type": "boolean"
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          }
        },
        "required": [
          "version"
        ]
      },
      "ListNotesQuery": {
        "type": "object",
        "properties": {
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ],
            "description": "Filter by Work or Personal"
          },
          "from": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "Inclusive start date (yyyy-mm-dd) for calendar ranges"
          },
          "to": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "Inclusive end date (yyyy-mm-dd) for calendar ranges"
          },
          "type": {
            "type": "string",
            "enum": [
              "daily",
              "page"
            ],
            "description": "Filter by daily or page notes"
          },
          "cursor": {
            "type": "string",
            "minLength": 1,
            "description": "Opaque pagination cursor from a previous list response"
          },
          "limit": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 100,
            "description": "Page size (1-100)"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "userId": {
            "type": "string",
            "minLength": 1
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "med",
              "high"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "todo",
              "in_progress",
              "done"
            ]
          },
          "dueDate": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "noteId": {
            "type": "string",
            "nullable": true,
            "minLength": 1
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deleted": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "userId",
          "area",
          "title",
          "description",
          "priority",
          "status",
          "dueDate",
          "completedAt",
          "noteId",
          "tags",
          "version",
          "createdAt",
          "updatedAt",
          "deleted"
        ]
      },
      "TaskListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "userId": {
                  "type": "string",
                  "minLength": 1
                },
                "area": {
                  "type": "string",
                  "enum": [
                    "work",
                    "personal"
                  ]
                },
                "title": {
                  "type": "string",
                  "minLength": 1
                },
                "description": {
                  "type": "string"
                },
                "priority": {
                  "type": "string",
                  "enum": [
                    "low",
                    "med",
                    "high"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "todo",
                    "in_progress",
                    "done"
                  ]
                },
                "dueDate": {
                  "type": "string",
                  "nullable": true,
                  "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                },
                "completedAt": {
                  "type": "string",
                  "nullable": true,
                  "format": "date-time"
                },
                "noteId": {
                  "type": "string",
                  "nullable": true,
                  "minLength": 1
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "version": {
                  "type": "integer",
                  "minimum": 0
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "deleted": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "userId",
                "area",
                "title",
                "description",
                "priority",
                "status",
                "dueDate",
                "completedAt",
                "noteId",
                "tags",
                "version",
                "createdAt",
                "updatedAt",
                "deleted"
              ]
            }
          },
          "nextCursor": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "items"
        ]
      },
      "CreateTaskRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "default": ""
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "med",
              "high"
            ],
            "default": "med"
          },
          "status": {
            "type": "string",
            "enum": [
              "todo",
              "in_progress",
              "done"
            ],
            "default": "todo"
          },
          "dueDate": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "noteId": {
            "type": "string",
            "nullable": true,
            "minLength": 1
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          }
        },
        "required": [
          "id",
          "area",
          "title"
        ]
      },
      "UpdateTaskRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "med",
              "high"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "todo",
              "in_progress",
              "done"
            ]
          },
          "dueDate": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "noteId": {
            "type": "string",
            "nullable": true,
            "minLength": 1
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "version"
        ]
      },
      "ListTasksQuery": {
        "type": "object",
        "properties": {
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "todo",
              "in_progress",
              "done"
            ]
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "med",
              "high"
            ]
          },
          "dueOn": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "Tasks due on this date"
          },
          "dueBefore": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "Tasks due strictly before this date (overdue-style ranges)"
          },
          "noteId": {
            "type": "string",
            "minLength": 1,
            "description": "Tasks linked to a note"
          },
          "cursor": {
            "type": "string",
            "minLength": 1
          },
          "limit": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 100
          }
        }
      },
      "FakeNoteEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "userId": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deleted": {
            "type": "boolean"
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "noteDate": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "userId",
          "title",
          "body",
          "version",
          "createdAt",
          "updatedAt",
          "deleted"
        ]
      },
      "FakeNoteSyncChange": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "fakeNote"
            ]
          },
          "id": {
            "type": "string",
            "minLength": 1
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "deleted": {
            "type": "boolean"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "entity": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1
              },
              "userId": {
                "type": "string",
                "minLength": 1
              },
              "title": {
                "type": "string"
              },
              "body": {
                "type": "string"
              },
              "version": {
                "type": "integer",
                "minimum": 0
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "deleted": {
                "type": "boolean"
              },
              "area": {
                "type": "string",
                "enum": [
                  "work",
                  "personal"
                ]
              },
              "noteDate": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "userId",
              "title",
              "body",
              "version",
              "createdAt",
              "updatedAt",
              "deleted"
            ]
          }
        },
        "required": [
          "type",
          "id",
          "version",
          "deleted",
          "updatedAt"
        ]
      },
      "NoteSyncChange": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "note"
            ]
          },
          "id": {
            "type": "string",
            "minLength": 1
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "deleted": {
            "type": "boolean"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "entity": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1
              },
              "userId": {
                "type": "string",
                "minLength": 1
              },
              "area": {
                "type": "string",
                "enum": [
                  "work",
                  "personal"
                ]
              },
              "type": {
                "type": "string",
                "enum": [
                  "daily",
                  "page"
                ]
              },
              "date": {
                "type": "string",
                "nullable": true,
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "title": {
                "type": "string"
              },
              "bodyMarkdown": {
                "type": "string"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "pinned": {
                "type": "boolean"
              },
              "version": {
                "type": "integer",
                "minimum": 0
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "deleted": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "userId",
              "area",
              "type",
              "date",
              "title",
              "bodyMarkdown",
              "tags",
              "pinned",
              "version",
              "createdAt",
              "updatedAt",
              "deleted"
            ]
          }
        },
        "required": [
          "type",
          "id",
          "version",
          "deleted",
          "updatedAt"
        ]
      },
      "TaskSyncChange": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "task"
            ]
          },
          "id": {
            "type": "string",
            "minLength": 1
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "deleted": {
            "type": "boolean"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "entity": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1
              },
              "userId": {
                "type": "string",
                "minLength": 1
              },
              "area": {
                "type": "string",
                "enum": [
                  "work",
                  "personal"
                ]
              },
              "title": {
                "type": "string",
                "minLength": 1
              },
              "description": {
                "type": "string"
              },
              "priority": {
                "type": "string",
                "enum": [
                  "low",
                  "med",
                  "high"
                ]
              },
              "status": {
                "type": "string",
                "enum": [
                  "todo",
                  "in_progress",
                  "done"
                ]
              },
              "dueDate": {
                "type": "string",
                "nullable": true,
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "completedAt": {
                "type": "string",
                "nullable": true,
                "format": "date-time"
              },
              "noteId": {
                "type": "string",
                "nullable": true,
                "minLength": 1
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "version": {
                "type": "integer",
                "minimum": 0
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "deleted": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "userId",
              "area",
              "title",
              "description",
              "priority",
              "status",
              "dueDate",
              "completedAt",
              "noteId",
              "tags",
              "version",
              "createdAt",
              "updatedAt",
              "deleted"
            ]
          }
        },
        "required": [
          "type",
          "id",
          "version",
          "deleted",
          "updatedAt"
        ]
      },
      "SyncChange": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "fakeNote"
                ]
              },
              "id": {
                "type": "string",
                "minLength": 1
              },
              "version": {
                "type": "integer",
                "minimum": 0
              },
              "deleted": {
                "type": "boolean"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "entity": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "title": {
                    "type": "string"
                  },
                  "body": {
                    "type": "string"
                  },
                  "version": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted": {
                    "type": "boolean"
                  },
                  "area": {
                    "type": "string",
                    "enum": [
                      "work",
                      "personal"
                    ]
                  },
                  "noteDate": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "userId",
                  "title",
                  "body",
                  "version",
                  "createdAt",
                  "updatedAt",
                  "deleted"
                ]
              }
            },
            "required": [
              "type",
              "id",
              "version",
              "deleted",
              "updatedAt"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "note"
                ]
              },
              "id": {
                "type": "string",
                "minLength": 1
              },
              "version": {
                "type": "integer",
                "minimum": 0
              },
              "deleted": {
                "type": "boolean"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "entity": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "area": {
                    "type": "string",
                    "enum": [
                      "work",
                      "personal"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "daily",
                      "page"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  },
                  "title": {
                    "type": "string"
                  },
                  "bodyMarkdown": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "pinned": {
                    "type": "boolean"
                  },
                  "version": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "id",
                  "userId",
                  "area",
                  "type",
                  "date",
                  "title",
                  "bodyMarkdown",
                  "tags",
                  "pinned",
                  "version",
                  "createdAt",
                  "updatedAt",
                  "deleted"
                ]
              }
            },
            "required": [
              "type",
              "id",
              "version",
              "deleted",
              "updatedAt"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "task"
                ]
              },
              "id": {
                "type": "string",
                "minLength": 1
              },
              "version": {
                "type": "integer",
                "minimum": 0
              },
              "deleted": {
                "type": "boolean"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "entity": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "area": {
                    "type": "string",
                    "enum": [
                      "work",
                      "personal"
                    ]
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string"
                  },
                  "priority": {
                    "type": "string",
                    "enum": [
                      "low",
                      "med",
                      "high"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "todo",
                      "in_progress",
                      "done"
                    ]
                  },
                  "dueDate": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  },
                  "completedAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "date-time"
                  },
                  "noteId": {
                    "type": "string",
                    "nullable": true,
                    "minLength": 1
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "version": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "id",
                  "userId",
                  "area",
                  "title",
                  "description",
                  "priority",
                  "status",
                  "dueDate",
                  "completedAt",
                  "noteId",
                  "tags",
                  "version",
                  "createdAt",
                  "updatedAt",
                  "deleted"
                ]
              }
            },
            "required": [
              "type",
              "id",
              "version",
              "deleted",
              "updatedAt"
            ]
          }
        ]
      },
      "SyncChangesResponse": {
        "type": "object",
        "properties": {
          "changes": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "fakeNote"
                      ]
                    },
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "version": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "deleted": {
                      "type": "boolean"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "userId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "title": {
                          "type": "string"
                        },
                        "body": {
                          "type": "string"
                        },
                        "version": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "deleted": {
                          "type": "boolean"
                        },
                        "area": {
                          "type": "string",
                          "enum": [
                            "work",
                            "personal"
                          ]
                        },
                        "noteDate": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "userId",
                        "title",
                        "body",
                        "version",
                        "createdAt",
                        "updatedAt",
                        "deleted"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "id",
                    "version",
                    "deleted",
                    "updatedAt"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "note"
                      ]
                    },
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "version": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "deleted": {
                      "type": "boolean"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "userId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "area": {
                          "type": "string",
                          "enum": [
                            "work",
                            "personal"
                          ]
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "daily",
                            "page"
                          ]
                        },
                        "date": {
                          "type": "string",
                          "nullable": true,
                          "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                        },
                        "title": {
                          "type": "string"
                        },
                        "bodyMarkdown": {
                          "type": "string"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "pinned": {
                          "type": "boolean"
                        },
                        "version": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "deleted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "userId",
                        "area",
                        "type",
                        "date",
                        "title",
                        "bodyMarkdown",
                        "tags",
                        "pinned",
                        "version",
                        "createdAt",
                        "updatedAt",
                        "deleted"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "id",
                    "version",
                    "deleted",
                    "updatedAt"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "task"
                      ]
                    },
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "version": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "deleted": {
                      "type": "boolean"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "entity": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "userId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "area": {
                          "type": "string",
                          "enum": [
                            "work",
                            "personal"
                          ]
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "description": {
                          "type": "string"
                        },
                        "priority": {
                          "type": "string",
                          "enum": [
                            "low",
                            "med",
                            "high"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "todo",
                            "in_progress",
                            "done"
                          ]
                        },
                        "dueDate": {
                          "type": "string",
                          "nullable": true,
                          "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                        },
                        "completedAt": {
                          "type": "string",
                          "nullable": true,
                          "format": "date-time"
                        },
                        "noteId": {
                          "type": "string",
                          "nullable": true,
                          "minLength": 1
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "version": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "deleted": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "userId",
                        "area",
                        "title",
                        "description",
                        "priority",
                        "status",
                        "dueDate",
                        "completedAt",
                        "noteId",
                        "tags",
                        "version",
                        "createdAt",
                        "updatedAt",
                        "deleted"
                      ]
                    }
                  },
                  "required": [
                    "type",
                    "id",
                    "version",
                    "deleted",
                    "updatedAt"
                  ]
                }
              ]
            }
          },
          "nextCursor": {
            "type": "string",
            "minLength": 1
          },
          "nextSince": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "changes",
          "nextSince"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health check",
        "tags": [
          "Public"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "service": {
                      "type": "string",
                      "enum": [
                        "gagnechris-api"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "service"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable (throttling)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/me": {
      "get": {
        "summary": "Current authenticated admin user",
        "tags": [
          "Admin"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated user claims",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sub": {
                      "type": "string",
                      "minLength": 1
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "username": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "sub"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable (throttling)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/posts": {
      "get": {
        "summary": "List posts (Blog CMS)",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "published",
                "deleted"
              ],
              "description": "Filter by post status"
            },
            "required": false,
            "description": "Filter by post status",
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Opaque pagination cursor from a previous list response"
            },
            "required": false,
            "description": "Opaque pagination cursor from a previous list response",
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "maximum": 100,
              "description": "Page size (1-100)"
            },
            "required": false,
            "description": "Page size (1-100)",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Post list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1
                          },
                          "slug": {
                            "type": "string",
                            "minLength": 1
                          },
                          "title": {
                            "type": "string"
                          },
                          "excerpt": {
                            "type": "string"
                          },
                          "bodyMarkdown": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "coverImage": {
                            "type": "string",
                            "nullable": true
                          },
                          "seo": {
                            "type": "object",
                            "nullable": true,
                            "properties": {
                              "title": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "ogImage": {
                                "type": "string"
                              }
                            }
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "draft",
                              "published",
                              "deleted"
                            ]
                          },
                          "publishedAt": {
                            "type": "string",
                            "nullable": true,
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "version": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "hasUnpublishedChanges": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "slug",
                          "title",
                          "excerpt",
                          "bodyMarkdown",
                          "tags",
                          "coverImage",
                          "seo",
                          "status",
                          "publishedAt",
                          "updatedAt",
                          "version",
                          "hasUnpublishedChanges"
                        ]
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error (may include `fields`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable (throttling)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create draft post",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "default": "Untitled"
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "excerpt": {
                    "type": "string",
                    "default": ""
                  },
                  "bodyMarkdown": {
                    "type": "string",
                    "default": ""
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": []
                  },
                  "coverImage": {
                    "type": "string",
                    "nullable": true
                  },
                  "seo": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "ogImage": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "ETag": {
                "description": "Strong entity version tag (quoted integer), e.g. `\"3\"`",
                "schema": {
                  "type": "string",
                  "example": "\"3\""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "bodyMarkdown": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "coverImage": {
                      "type": "string",
                      "nullable": true
                    },
                    "seo": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "ogImage": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "draft",
                        "published",
                        "deleted"
                      ]
                    },
                    "publishedAt": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "version": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "hasUnpublishedChanges": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "slug",
                    "title",
                    "excerpt",
                    "bodyMarkdown",
                    "tags",
                    "coverImage",
                    "seo",
                    "status",
                    "publishedAt",
                    "updatedAt",
                    "version",
                    "hasUnpublishedChanges"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error (may include `fields`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict (may include `currentVersion` / `current`)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": [
                        "conflict",
                        "version_conflict",
                        "deleted",
                        "payload_mismatch",
                        "slug_taken",
                        "daily_taken"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "currentVersion": {
                      "type": "integer"
                    },
                    "current": {
                      "nullable": true
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable (throttling)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "fields": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/posts/{id}": {
      "get": {
        "summary": "Get post by id",
        "tags": [
          "Posts"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Post id (ULID)",
              "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
            },
            "required": true,
            "description": "Post id (ULID)",
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Post",
            "headers": {
              "ETag": {
                "description": "Strong entity version tag (quoted integer), e.g. `\"3\"`",
                "schema": {
                  "type": "string",
                  "example": "\"3\""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1
                    },
                    "slug": {
                      "type": "string",
                      "minLength": 1
                    },
                    "title": {
                      "type": "string"
                    },
                    "excerpt": {
                      "type": "string"
                    },
                    "bodyMarkdown": {
                      "type": "string"
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "coverImage": {
                      "type": "string",
                      "nullable": true
                    },
                    "seo": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "ogImage": {
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "draft",
                        "published",
                        "deleted"
                      ]
                    },
                    "publishedAt": {
                      "type": "string",
                      "nullable": true,
                      "format": "date-time"
                    },
                    "updatedAt": {
[...]
