{
  "openapi": "3.0.3",
  "info": {
    "title": "gagnechris API",
    "version": "0.3.0",
    "description": "HTTP API for Blog CMS and Notebook admin. Same-origin via CloudFront /api/*. Shared DynamoDB single-table (docs/data-model.md)."
  },
  "servers": [
    {
      "url": "https://gagnechris.com",
      "description": "Production"
    },
    {
      "url": "http://localhost:8787",
      "description": "Local API (services/api/local/server.ts)"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Cognito ID token (Authorization: Bearer <token>)"
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "service": {
            "type": "string",
            "enum": [
              "gagnechris-api"
            ]
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "AdminMeResponse": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "username": {
            "type": "string"
          }
        },
        "required": [
          "sub"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "error"
        ]
      },
      "ConflictErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "conflict",
              "version_conflict",
              "deleted",
              "payload_mismatch",
              "slug_taken",
              "daily_taken"
            ]
          },
          "message": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "currentVersion": {
            "type": "integer"
          },
          "current": {
            "nullable": true
          }
        },
        "required": [
          "error"
        ]
      },
      "PreconditionFailedErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "precondition_failed"
            ]
          },
          "message": {
            "type": "string"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "currentVersion": {
            "type": "integer"
          },
          "current": {
            "nullable": true
          }
        },
        "required": [
          "error"
        ]
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string"
          },
          "excerpt": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "projectIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "deleted"
            ]
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "hasUnpublishedChanges": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "slug",
          "title",
          "excerpt",
          "bodyMarkdown",
          "tags",
          "projectIds",
          "coverImage",
          "seo",
          "status",
          "publishedAt",
          "updatedAt",
          "version",
          "hasUnpublishedChanges"
        ]
      },
      "PostListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "slug": {
                  "type": "string",
                  "minLength": 1
                },
                "title": {
                  "type": "string"
                },
                "excerpt": {
                  "type": "string"
                },
                "bodyMarkdown": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "projectIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "coverImage": {
                  "type": "string",
                  "nullable": true
                },
                "seo": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "ogImage": {
                      "type": "string"
                    }
                  }
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "draft",
                    "published",
                    "deleted"
                  ]
                },
                "publishedAt": {
                  "type": "string",
                  "nullable": true,
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "version": {
                  "type": "integer",
                  "minimum": 0
                },
                "hasUnpublishedChanges": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "slug",
                "title",
                "excerpt",
                "bodyMarkdown",
                "tags",
                "projectIds",
                "coverImage",
                "seo",
                "status",
                "publishedAt",
                "updatedAt",
                "version",
                "hasUnpublishedChanges"
              ]
            }
          },
          "nextCursor": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "items"
        ]
      },
      "CreatePostRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "default": "Untitled"
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "excerpt": {
            "type": "string",
            "default": ""
          },
          "bodyMarkdown": {
            "type": "string",
            "default": ""
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          },
          "projectIds": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "maxItems": 20,
            "default": []
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          }
        }
      },
      "UpdatePostRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "excerpt": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "projectIds": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "maxItems": 20
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "version"
        ]
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "slug": {
            "type": "string",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "pitch": {
            "type": "string"
          },
          "stage": {
            "type": "string",
            "enum": [
              "idea",
              "building",
              "live"
            ]
          },
          "stageNote": {
            "type": "string"
          },
          "previewImage": {
            "type": "string",
            "nullable": true
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "stack": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 100
                },
                "url": {
                  "type": "string"
                }
              },
              "required": [
                "label",
                "url"
              ]
            }
          },
          "demo": {
            "type": "string",
            "nullable": true,
            "enum": [
              "posts",
              "notebook",
              null
            ]
          },
          "order": {
            "type": "integer",
            "minimum": 0
          },
          "href": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "deleted"
            ]
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "hasUnpublishedChanges": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "slug",
          "name",
          "pitch",
          "stage",
          "stageNote",
          "previewImage",
          "bodyMarkdown",
          "stack",
          "links",
          "demo",
          "order",
          "href",
          "status",
          "publishedAt",
          "updatedAt",
          "version",
          "hasUnpublishedChanges"
        ]
      },
      "ProjectLink": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "url": {
            "type": "string"
          }
        },
        "required": [
          "label",
          "url"
        ]
      },
      "ProjectListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "slug": {
                  "type": "string",
                  "minLength": 1
                },
                "name": {
                  "type": "string",
                  "minLength": 1
                },
                "pitch": {
                  "type": "string"
                },
                "stage": {
                  "type": "string",
                  "enum": [
                    "idea",
                    "building",
                    "live"
                  ]
                },
                "stageNote": {
                  "type": "string"
                },
                "previewImage": {
                  "type": "string",
                  "nullable": true
                },
                "bodyMarkdown": {
                  "type": "string"
                },
                "stack": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 100
                      },
                      "url": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "label",
                      "url"
                    ]
                  }
                },
                "demo": {
                  "type": "string",
                  "nullable": true,
                  "enum": [
                    "posts",
                    "notebook",
                    null
                  ]
                },
                "order": {
                  "type": "integer",
                  "minimum": 0
                },
                "href": {
                  "type": "string",
                  "nullable": true
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "draft",
                    "published",
                    "deleted"
                  ]
                },
                "publishedAt": {
                  "type": "string",
                  "nullable": true,
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "version": {
                  "type": "integer",
                  "minimum": 0
                },
                "hasUnpublishedChanges": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "slug",
                "name",
                "pitch",
                "stage",
                "stageNote",
                "previewImage",
                "bodyMarkdown",
                "stack",
                "links",
                "demo",
                "order",
                "href",
                "status",
                "publishedAt",
                "updatedAt",
                "version",
                "hasUnpublishedChanges"
              ]
            }
          }
        },
        "required": [
          "items"
        ]
      },
      "CreateProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "pitch": {
            "type": "string",
            "maxLength": 300,
            "default": ""
          },
          "stage": {
            "type": "string",
            "enum": [
              "idea",
              "building",
              "live"
            ],
            "default": "idea"
          },
          "stageNote": {
            "type": "string",
            "maxLength": 80,
            "default": ""
          },
          "previewImage": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\/media\\/[^\\s?#\\\\]+$"
          },
          "bodyMarkdown": {
            "type": "string",
            "default": ""
          },
          "stack": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 50
            },
            "maxItems": 30,
            "default": []
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 100
                },
                "url": {
                  "type": "string"
                }
              },
              "required": [
                "label",
                "url"
              ]
            },
            "maxItems": 20,
            "default": []
          },
          "demo": {
            "type": "string",
            "nullable": true,
            "enum": [
              "posts",
              "notebook",
              null
            ]
          },
          "order": {
            "type": "integer",
            "minimum": 0,
            "maximum": 999999,
            "default": 0
          },
          "href": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateProjectRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "slug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "pitch": {
            "type": "string",
            "maxLength": 300
          },
          "stage": {
            "type": "string",
            "enum": [
              "idea",
              "building",
              "live"
            ]
          },
          "stageNote": {
            "type": "string",
            "maxLength": 80
          },
          "previewImage": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\/media\\/[^\\s?#\\\\]+$"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "stack": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 50
            },
            "maxItems": 30
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 100
                },
                "url": {
                  "type": "string"
                }
              },
              "required": [
                "label",
                "url"
              ]
            },
            "maxItems": 20
          },
          "demo": {
            "type": "string",
            "nullable": true,
            "enum": [
              "posts",
              "notebook",
              null
            ]
          },
          "order": {
            "type": "integer",
            "minimum": 0,
            "maximum": 999999
          },
          "href": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "version"
        ]
      },
      "ExpectedVersionRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "version"
        ]
      },
      "MediaUploadUrlRequest": {
        "type": "object",
        "properties": {
          "contentType": {
            "type": "string",
            "enum": [
              "image/jpeg",
              "image/png",
              "image/webp",
              "image/gif"
            ]
          },
          "contentLength": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 10485760
          },
          "filename": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          }
        },
        "required": [
          "contentType",
          "contentLength"
        ]
      },
      "MediaUploadUrlResponse": {
        "type": "object",
        "properties": {
          "uploadUrl": {
            "type": "string",
            "format": "uri"
          },
          "publicPath": {
            "type": "string",
            "pattern": "^\\/media\\/"
          },
          "headers": {
            "type": "object",
            "properties": {
              "Content-Type": {
                "type": "string"
              }
            },
            "required": [
              "Content-Type"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "uploadUrl",
          "publicPath",
          "headers",
          "expiresAt"
        ]
      },
      "ContactRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "email": {
            "type": "string",
            "maxLength": 320,
            "format": "email"
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000
          },
          "hp_field": {
            "type": "string",
            "maxLength": 200,
            "default": ""
          },
          "website": {
            "type": "string",
            "maxLength": 200,
            "default": ""
          },
          "elapsedMs": {
            "type": "integer",
            "minimum": 0
          },
          "formStartedAt": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "name",
          "email",
          "message"
        ]
      },
      "ContactResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok"
        ]
      },
      "Home": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string"
          },
          "about": {
            "type": "string"
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "deleted"
            ]
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "hasUnpublishedChanges": {
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "title",
          "about",
          "seo",
          "status",
          "publishedAt",
          "updatedAt",
          "version",
          "hasUnpublishedChanges"
        ]
      },
      "UpdateHomeRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "title": {
            "type": "string"
          },
          "about": {
            "type": "string"
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "version"
        ]
      },
      "Resume": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "pdfPath": {
            "type": "string",
            "minLength": 1
          },
          "content": {
            "type": "object",
            "properties": {
              "headline": {
                "type": "string",
                "description": "Current role"
              },
              "earlierRolesThrough": {
                "type": "integer",
                "minimum": 1900,
                "maximum": 2100,
                "description": "Roles that ended in or before this year are \"earlier roles\""
              },
              "summary": {
                "type": "string"
              },
              "competencies": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "experience": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "company": {
                      "type": "string"
                    },
                    "bullets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "start": {
                      "type": "string",
                      "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
                      "description": "YYYY-MM"
                    },
                    "end": {
                      "type": "string",
                      "nullable": true,
                      "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
                      "description": "YYYY-MM; null means present"
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "title",
                    "company",
                    "bullets"
                  ]
                }
              },
              "skills": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "education": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "institution": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "year": {
                      "type": "string"
                    },
                    "degreeDetail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "title",
                    "institution",
                    "location",
                    "year"
                  ]
                }
              }
            },
            "required": [
              "summary",
              "competencies",
              "experience",
              "skills",
              "education"
            ]
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "deleted"
            ]
          },
          "publishedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "hasUnpublishedChanges": {
            "type": "boolean"
          }
        },
        "required": [
          "name",
          "pdfPath",
          "content",
          "seo",
          "status",
          "publishedAt",
          "updatedAt",
          "version",
          "hasUnpublishedChanges"
        ]
      },
      "UpdateResumeRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "pdfPath": {
            "type": "string",
            "minLength": 1
          },
          "content": {
            "type": "object",
            "properties": {
              "headline": {
                "type": "string",
                "description": "Current role"
              },
              "earlierRolesThrough": {
                "type": "integer",
                "minimum": 1900,
                "maximum": 2100,
                "description": "Roles that ended in or before this year are \"earlier roles\""
              },
              "summary": {
                "type": "string"
              },
              "competencies": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "experience": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "company": {
                      "type": "string"
                    },
                    "bullets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "start": {
                      "type": "string",
                      "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
                      "description": "YYYY-MM"
                    },
                    "end": {
                      "type": "string",
                      "nullable": true,
                      "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
                      "description": "YYYY-MM; null means present"
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "title",
                    "company",
                    "bullets"
                  ]
                }
              },
              "skills": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "education": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string"
                    },
                    "institution": {
                      "type": "string"
                    },
                    "location": {
                      "type": "string"
                    },
                    "year": {
                      "type": "string"
                    },
                    "degreeDetail": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "title",
                    "institution",
                    "location",
                    "year"
                  ]
                }
              }
            },
            "required": [
              "summary",
              "competencies",
              "experience",
              "skills",
              "education"
            ]
          },
          "seo": {
            "type": "object",
            "nullable": true,
            "properties": {
              "title": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "ogImage": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "version"
        ]
      },
      "ResumeDownloadNotifyRequest": {
        "type": "object",
        "properties": {
          "referrer": {
            "type": "string",
            "maxLength": 500
          }
        }
      },
      "ResumeDownloadNotifyResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [
              true
            ]
          }
        },
        "required": [
          "ok"
        ]
      },
      "ResumeContent": {
        "type": "object",
        "properties": {
          "headline": {
            "type": "string",
            "description": "Current role"
          },
          "earlierRolesThrough": {
            "type": "integer",
            "minimum": 1900,
            "maximum": 2100,
            "description": "Roles that ended in or before this year are \"earlier roles\""
          },
          "summary": {
            "type": "string"
          },
          "competencies": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "experience": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "company": {
                  "type": "string"
                },
                "bullets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "start": {
                  "type": "string",
                  "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
                  "description": "YYYY-MM"
                },
                "end": {
                  "type": "string",
                  "nullable": true,
                  "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
                  "description": "YYYY-MM; null means present"
                },
                "note": {
                  "type": "string"
                }
              },
              "required": [
                "title",
                "company",
                "bullets"
              ]
            }
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "education": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "institution": {
                  "type": "string"
                },
                "location": {
                  "type": "string"
                },
                "year": {
                  "type": "string"
                },
                "degreeDetail": {
                  "type": "string"
                }
              },
              "required": [
                "title",
                "institution",
                "location",
                "year"
              ]
            }
          }
        },
        "required": [
          "summary",
          "competencies",
          "experience",
          "skills",
          "education"
        ]
      },
      "ResumeEducation": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "institution": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "year": {
            "type": "string"
          },
          "degreeDetail": {
            "type": "string"
          }
        },
        "required": [
          "title",
          "institution",
          "location",
          "year"
        ]
      },
      "ResumeExperience": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "bullets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "start": {
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
            "description": "YYYY-MM"
          },
          "end": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-(0[1-9]|1[0-2])$",
            "description": "YYYY-MM; null means present"
          },
          "note": {
            "type": "string"
          }
        },
        "required": [
          "title",
          "company",
          "bullets"
        ]
      },
      "PostSeo": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "ogImage": {
            "type": "string"
          }
        }
      },
      "Note": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "userId": {
            "type": "string",
            "minLength": 1
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "daily",
              "page"
            ]
          },
          "date": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "title": {
            "type": "string"
          },
          "bodyMarkdown": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pinned": {
            "type": "boolean"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deleted": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "userId",
          "area",
          "type",
          "date",
          "title",
          "bodyMarkdown",
          "tags",
          "pinned",
          "version",
          "createdAt",
          "updatedAt",
          "deleted"
        ]
      },
      "NoteListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "userId": {
                  "type": "string",
                  "minLength": 1
                },
                "area": {
                  "type": "string",
                  "enum": [
                    "work",
                    "personal"
                  ]
                },
                "type": {
                  "type": "string",
                  "enum": [
                    "daily",
                    "page"
                  ]
                },
                "date": {
                  "type": "string",
                  "nullable": true,
                  "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                },
                "title": {
                  "type": "string"
                },
                "bodyMarkdown": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "pinned": {
                  "type": "boolean"
                },
                "version": {
                  "type": "integer",
                  "minimum": 0
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "deleted": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "userId",
                "area",
                "type",
                "date",
                "title",
                "bodyMarkdown",
                "tags",
                "pinned",
                "version",
                "createdAt",
                "updatedAt",
                "deleted"
              ]
            }
          },
          "nextCursor": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "items"
        ]
      },
      "CreateNoteRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "daily",
              "page"
            ]
          },
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "title": {
            "type": "string",
            "maxLength": 300,
            "default": ""
          },
          "bodyMarkdown": {
            "type": "string",
            "default": "",
            "description": "Up to 100 KB (UTF-8); larger → 413"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 50
            },
            "maxItems": 50,
            "default": []
          },
          "pinned": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "id",
          "area",
          "type"
        ]
      },
      "UpdateNoteRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "title": {
            "type": "string",
            "maxLength": 300
          },
          "bodyMarkdown": {
            "type": "string",
            "description": "Up to 100 KB (UTF-8); larger → 413"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 50
            },
            "maxItems": 50
          },
          "pinned": {
            "type": "boolean"
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          }
        }
      },
      "ListNotesQuery": {
        "type": "object",
        "properties": {
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ],
            "description": "Filter by Work or Personal"
          },
          "from": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "Inclusive start date (yyyy-mm-dd) for calendar ranges"
          },
          "to": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "Inclusive end date (yyyy-mm-dd) for calendar ranges"
          },
          "type": {
            "type": "string",
            "enum": [
              "daily",
              "page"
            ],
            "description": "Filter by daily or page notes"
          },
          "cursor": {
            "type": "string",
            "minLength": 1,
            "description": "Opaque pagination cursor from a previous list response"
          },
          "limit": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 100,
            "description": "Page size (1-100)"
          }
        }
      },
      "EmptyDailyNote": {
        "type": "object",
        "properties": {
          "exists": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "userId": {
            "type": "string",
            "minLength": 1
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "daily"
            ]
          },
          "date": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "title": {
            "type": "string",
            "enum": [
              ""
            ]
          },
          "bodyMarkdown": {
            "type": "string",
            "enum": [
              ""
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pinned": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "version": {
            "type": "number",
            "enum": [
              0
            ]
          }
        },
        "required": [
          "exists",
          "userId",
          "area",
          "type",
          "date",
          "title",
          "bodyMarkdown",
          "tags",
          "pinned",
          "version"
        ]
      },
      "DailyNoteGetResponse": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1
              },
              "userId": {
                "type": "string",
                "minLength": 1
              },
              "area": {
                "type": "string",
                "enum": [
                  "work",
                  "personal"
                ]
              },
              "type": {
                "type": "string",
                "enum": [
                  "daily",
                  "page"
                ]
              },
              "date": {
                "type": "string",
                "nullable": true,
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "title": {
                "type": "string"
              },
              "bodyMarkdown": {
                "type": "string"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "pinned": {
                "type": "boolean"
              },
              "version": {
                "type": "integer",
                "minimum": 0
              },
              "createdAt": {
                "type": "string",
                "format": "date-time"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "deleted": {
                "type": "boolean"
              }
            },
            "required": [
              "id",
              "userId",
              "area",
              "type",
              "date",
              "title",
              "bodyMarkdown",
              "tags",
              "pinned",
              "version",
              "createdAt",
              "updatedAt",
              "deleted"
            ]
          },
          {
            "type": "object",
            "properties": {
              "exists": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "userId": {
                "type": "string",
                "minLength": 1
              },
              "area": {
                "type": "string",
                "enum": [
                  "work",
                  "personal"
                ]
              },
              "type": {
                "type": "string",
                "enum": [
                  "daily"
                ]
              },
              "date": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
              },
              "title": {
                "type": "string",
                "enum": [
                  ""
                ]
              },
              "bodyMarkdown": {
                "type": "string",
                "enum": [
                  ""
                ]
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "pinned": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "version": {
                "type": "number",
                "enum": [
                  0
                ]
              }
            },
            "required": [
              "exists",
              "userId",
              "area",
              "type",
              "date",
              "title",
              "bodyMarkdown",
              "tags",
              "pinned",
              "version"
            ]
          }
        ]
      },
      "UpsertDailyNoteRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$",
            "description": "Client ULID used when creating the daily note"
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "title": {
            "type": "string",
            "maxLength": 300
          },
          "bodyMarkdown": {
            "type": "string",
            "description": "Up to 100 KB (UTF-8); larger → 413"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 50
            },
            "maxItems": 50
          },
          "pinned": {
            "type": "boolean"
          }
        },
        "required": [
          "id"
        ]
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
          },
          "userId": {
            "type": "string",
            "minLength": 1
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "med",
              "high"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "todo",
              "in_progress",
              "done"
            ]
          },
          "dueDate": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "noteId": {
            "type": "string",
            "nullable": true,
            "minLength": 1
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "deleted": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "userId",
          "area",
          "title",
          "description",
          "priority",
          "status",
          "dueDate",
          "completedAt",
          "noteId",
          "tags",
          "version",
          "createdAt",
          "updatedAt",
          "deleted"
        ]
      },
      "TaskListResponse": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
                },
                "userId": {
                  "type": "string",
                  "minLength": 1
                },
                "area": {
                  "type": "string",
                  "enum": [
                    "work",
                    "personal"
                  ]
                },
                "title": {
                  "type": "string",
                  "minLength": 1
                },
                "description": {
                  "type": "string"
                },
                "priority": {
                  "type": "string",
                  "enum": [
                    "low",
                    "med",
                    "high"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "todo",
                    "in_progress",
                    "done"
                  ]
                },
                "dueDate": {
                  "type": "string",
                  "nullable": true,
                  "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                },
                "completedAt": {
                  "type": "string",
                  "nullable": true,
                  "format": "date-time"
                },
                "noteId": {
                  "type": "string",
                  "nullable": true,
                  "minLength": 1
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "version": {
                  "type": "integer",
                  "minimum": 0
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "deleted": {
                  "type": "boolean"
                }
              },
              "required": [
                "id",
                "userId",
                "area",
                "title",
                "description",
                "priority",
                "status",
                "dueDate",
                "completedAt",
                "noteId",
                "tags",
                "version",
                "createdAt",
                "updatedAt",
                "deleted"
              ]
            }
          },
          "nextCursor": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "items"
        ]
      },
      "CreateTaskRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "description": {
            "type": "string",
            "default": "",
            "description": "Up to 100 KB (UTF-8); larger → 413"
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "med",
              "high"
            ],
            "default": "med"
          },
          "status": {
            "type": "string",
            "enum": [
              "todo",
              "in_progress",
              "done"
            ],
            "default": "todo"
          },
          "dueDate": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "noteId": {
            "type": "string",
            "nullable": true,
            "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 50
            },
            "maxItems": 50,
            "default": []
          }
        },
        "required": [
          "id",
          "area",
          "title"
        ]
      },
      "UpdateTaskRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "minimum": 0
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300
          },
          "description": {
            "type": "string",
            "description": "Up to 100 KB (UTF-8); larger → 413"
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "med",
              "high"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "todo",
              "in_progress",
              "done"
            ]
          },
          "dueDate": {
            "type": "string",
            "nullable": true,
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          "noteId": {
            "type": "string",
            "nullable": true,
            "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 50
            },
            "maxItems": 50
          }
        }
      },
      "ListTasksQuery": {
        "type": "object",
        "properties": {
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "todo",
              "in_progress",
              "done"
            ]
          },
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "med",
              "high"
            ]
          },
          "dueOn": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "Tasks due on this date"
          },
          "dueBefore": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "Tasks due strictly before this date (overdue-style ranges)"
          },
          "noteId": {
            "type": "string",
            "minLength": 1,
            "description": "Tasks linked to a note"
          },
          "open": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ],
            "description": "Only todo and in_progress tasks (ignored when status is set)"
          },
          "today": {
            "type": "string",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
            "description": "Caller's local day (yyyy-mm-dd) for overdue ranking; defaults to UTC today"
          },
          "cursor": {
            "type": "string",
            "minLength": 1
          },
          "limit": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 100
          }
        }
      },
      "NotebookSearchRequest": {
        "type": "object",
        "properties": {
          "q": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "area": {
            "type": "string",
            "enum": [
              "work",
              "personal"
            ]
          },
          "limit": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 50
          }
        },
        "required": [
          "q"
        ]
      },
      "NotebookSearchResponse": {
        "type": "object",
        "properties": {
          "notes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "note",
                    "task"
                  ]
                },
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "area": {
                  "type": "string",
                  "enum": [
                    "work",
                    "personal"
                  ]
                },
                "title": {
                  "type": "string"
                },
                "snippet": {
                  "type": "string"
                },
                "matches": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "end": {
                        "type": "integer",
                        "minimum": 0
                      }
                    },
                    "required": [
                      "start",
                      "end"
                    ]
                  }
                }
              },
              "required": [
                "type",
                "id",
                "area",
                "title",
                "snippet",
                "matches"
              ]
            }
          },
          "tasks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "note",
                    "task"
                  ]
                },
                "id": {
                  "type": "string",
                  "minLength": 1
                },
                "area": {
                  "type": "string",
                  "enum": [
                    "work",
                    "personal"
                  ]
                },
                "title": {
                  "type": "string"
                },
                "snippet": {
                  "type": "string"
                },
                "matches": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "end": {
                        "type": "integer",
                        "minimum": 0
                      }
                    },
                    "required": [
                      "start",
                      "end"
                    ]
                  }
                }
              },
              "required": [
                "type",
                "id",
                "area",
                "title",
                "snippet",
                "matches"
              ]
            }
          }
        },
        "required": [
          "notes",
          "tasks"
        ]
      },
      "NoteSyncChange": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "note"
                ]
              },
              "id": {
                "type": "string",
                "minLength": 1
              },
              "version": {
                "type": "integer",
                "minimum": 0
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "deleted": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "entity": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "area": {
                    "type": "string",
                    "enum": [
                      "work",
                      "personal"
                    ]
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "daily",
                      "page"
                    ]
                  },
                  "date": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  },
                  "title": {
                    "type": "string"
                  },
                  "bodyMarkdown": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "pinned": {
                    "type": "boolean"
                  },
                  "version": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "id",
                  "userId",
                  "area",
                  "type",
                  "date",
                  "title",
                  "bodyMarkdown",
                  "tags",
                  "pinned",
                  "version",
                  "createdAt",
                  "updatedAt",
                  "deleted"
                ]
              }
            },
            "required": [
              "type",
              "id",
              "version",
              "updatedAt",
              "deleted",
              "entity"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "note"
                ]
              },
              "id": {
                "type": "string",
                "minLength": 1
              },
              "version": {
                "type": "integer",
                "minimum": 0
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "deleted": {
                "type": "boolean",
                "enum": [
                  true
                ]
              }
            },
            "required": [
              "type",
              "id",
              "version",
              "updatedAt",
              "deleted"
            ]
          }
        ]
      },
      "TaskSyncChange": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "task"
                ]
              },
              "id": {
                "type": "string",
                "minLength": 1
              },
              "version": {
                "type": "integer",
                "minimum": 0
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "deleted": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "entity": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
                  },
                  "userId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "area": {
                    "type": "string",
                    "enum": [
                      "work",
                      "personal"
                    ]
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1
                  },
                  "description": {
                    "type": "string"
                  },
                  "priority": {
                    "type": "string",
                    "enum": [
                      "low",
                      "med",
                      "high"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "todo",
                      "in_progress",
                      "done"
                    ]
                  },
                  "dueDate": {
                    "type": "string",
                    "nullable": true,
                    "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                  },
                  "completedAt": {
                    "type": "string",
                    "nullable": true,
                    "format": "date-time"
                  },
                  "noteId": {
                    "type": "string",
                    "nullable": true,
                    "minLength": 1
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "version": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "id",
                  "userId",
                  "area",
                  "title",
                  "description",
                  "priority",
                  "status",
                  "dueDate",
                  "completedAt",
                  "noteId",
                  "tags",
                  "version",
                  "createdAt",
                  "updatedAt",
                  "deleted"
                ]
              }
            },
            "required": [
              "type",
              "id",
              "version",
              "updatedAt",
              "deleted",
              "entity"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "task"
                ]
              },
              "id": {
                "type": "string",
                "minLength": 1
              },
              "version": {
                "type": "integer",
                "minimum": 0
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time"
              },
              "deleted": {
                "type": "boolean",
                "enum": [
                  true
                ]
              }
            },
            "required": [
              "type",
              "id",
              "version",
              "updatedAt",
              "deleted"
            ]
          }
        ]
      },
      "SyncChange": {
        "oneOf": [
          {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "note"
                    ]
                  },
                  "id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "version": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted": {
                    "type": "boolean",
                    "enum": [
                      false
                    ]
                  },
                  "entity": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "minLength": 1
                      },
                      "userId": {
                        "type": "string",
                        "minLength": 1
                      },
                      "area": {
                        "type": "string",
                        "enum": [
                          "work",
                          "personal"
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "daily",
                          "page"
                        ]
                      },
                      "date": {
                        "type": "string",
                        "nullable": true,
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                      },
                      "title": {
                        "type": "string"
                      },
                      "bodyMarkdown": {
                        "type": "string"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "pinned": {
                        "type": "boolean"
                      },
                      "version": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "deleted": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
                      "userId",
                      "area",
                      "type",
                      "date",
                      "title",
                      "bodyMarkdown",
                      "tags",
                      "pinned",
                      "version",
                      "createdAt",
                      "updatedAt",
                      "deleted"
                    ]
                  }
                },
                "required": [
                  "type",
                  "id",
                  "version",
                  "updatedAt",
                  "deleted",
                  "entity"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "note"
                    ]
                  },
                  "id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "version": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted": {
                    "type": "boolean",
                    "enum": [
                      true
                    ]
                  }
                },
                "required": [
                  "type",
                  "id",
                  "version",
                  "updatedAt",
                  "deleted"
                ]
              }
            ]
          },
          {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "task"
                    ]
                  },
                  "id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "version": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted": {
                    "type": "boolean",
                    "enum": [
                      false
                    ]
                  },
                  "entity": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
                      },
                      "userId": {
                        "type": "string",
                        "minLength": 1
                      },
                      "area": {
                        "type": "string",
                        "enum": [
                          "work",
                          "personal"
                        ]
                      },
                      "title": {
                        "type": "string",
                        "minLength": 1
                      },
                      "description": {
                        "type": "string"
                      },
                      "priority": {
                        "type": "string",
                        "enum": [
                          "low",
                          "med",
                          "high"
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "todo",
                          "in_progress",
                          "done"
                        ]
                      },
                      "dueDate": {
                        "type": "string",
                        "nullable": true,
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                      },
                      "completedAt": {
                        "type": "string",
                        "nullable": true,
                        "format": "date-time"
                      },
                      "noteId": {
                        "type": "string",
                        "nullable": true,
                        "minLength": 1
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "version": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "deleted": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
                      "userId",
                      "area",
                      "title",
                      "description",
                      "priority",
                      "status",
                      "dueDate",
                      "completedAt",
                      "noteId",
                      "tags",
                      "version",
                      "createdAt",
                      "updatedAt",
                      "deleted"
                    ]
                  }
                },
                "required": [
                  "type",
                  "id",
                  "version",
                  "updatedAt",
                  "deleted",
                  "entity"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "task"
                    ]
                  },
                  "id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "version": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "updatedAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "deleted": {
                    "type": "boolean",
                    "enum": [
                      true
                    ]
                  }
                },
                "required": [
                  "type",
                  "id",
                  "version",
                  "updatedAt",
                  "deleted"
                ]
              }
            ]
          }
        ]
      },
      "SyncChangesResponse": {
        "type": "object",
        "properties": {
          "changes": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "note"
                          ]
                        },
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "version": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "deleted": {
                          "type": "boolean",
                          "enum": [
                            false
                          ]
                        },
                        "entity": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "minLength": 1
                            },
                            "userId": {
                              "type": "string",
                              "minLength": 1
                            },
                            "area": {
                              "type": "string",
                              "enum": [
                                "work",
                                "personal"
                              ]
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "daily",
                                "page"
                              ]
                            },
                            "date": {
                              "type": "string",
                              "nullable": true,
                              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                            },
                            "title": {
                              "type": "string"
                            },
                            "bodyMarkdown": {
                              "type": "string"
                            },
                            "tags": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "pinned": {
                              "type": "boolean"
                            },
                            "version": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "deleted": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "id",
                            "userId",
                            "area",
                            "type",
                            "date",
                            "title",
                            "bodyMarkdown",
                            "tags",
                            "pinned",
                            "version",
                            "createdAt",
                            "updatedAt",
                            "deleted"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "id",
                        "version",
                        "updatedAt",
                        "deleted",
                        "entity"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "note"
                          ]
                        },
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "version": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "deleted": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "id",
                        "version",
                        "updatedAt",
                        "deleted"
                      ]
                    }
                  ]
                },
                {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "task"
                          ]
                        },
                        "id": {
                          "type": "string",
                          "minLength": 1
                        },
                        "version": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "deleted": {
                          "type": "boolean",
                          "enum": [
                            false
                          ]
                        },
                        "entity": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "pattern": "^[0-7][0-9A-HJKMNP-TV-Z]{25}$"
                            },
                            "userId": {
                              "type": "string",
                              "minLength": 1
                            },
                            "area": {
                              "type": "string",
                              "enum": [
                                "work",
                                "personal"
                              ]
                            },
                            "title": {
                              "type": "string",
                              "minLength": 1
                            },
                            "description": {
                              "type": "string"
                            },
                            "priority": {
                              "type": "string",
                              "enum": [
                                "low",
                                "med",
                                "high"
                              ]
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "todo",
                                "in_progress",
                                "done"
                              ]
                            },
                            "dueDate": {
                              "type": "string",
                              "nullable": true,
                              "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
                            },
                            "completedAt": {
                              "type": "string",
                              "nullable": true,
                              "format": "date-time"
                            },
                            "noteId": {
                              "type": "string",
                              "nullable": true,
                              "minLength": 1
                            },
                            "tags": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "version": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "deleted": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "id",
                            "userId",
                            "area",
                            "title",
                            "description",
                            "priority",
                            "status",
                            "dueDate",
                            "completedAt",
                            "noteId",
                            "tags",
                            "version",
                            "createdAt",
                            "updatedAt",
                            "deleted"
                          ]
                        }
                      },
                      "required": [
                        "type",
                        "id",
                        "version",
                        "updatedAt",
                        "deleted",
                        "entity"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "task"
                          ]
[...]
